*.pyc
.vscode
output
build
**.egg-info
**.so
diff_rasterization/dist

cameras.json
*.ply
*.mp4
datasets
wandb

result*
*/third_party/
/submodules/备份my_diff-gaussian-rasterization/third_party/
/submodules/my-diff-gaussian-rasterization/third_party/
/lietorch/
